html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	padding-top: 4.5rem;
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	display: flex;
	flex-direction: column;
}

